#Selection_count {
    background-color: dodgerblue;
    text-align: right;
    color: white;
    padding-top: 15px;
    height: 80px;
}
#quality {
    background-color: black;
    color:white;
    text-align: center;
    height: 80px;
    padding-top: 15px;
}
#Quality_desc{
    background-color: grey;
    height:220px;
    color:white;
    text-align: center;
    padding: 15px ;
}
#Second_Row{
    background-color:whitesmoke;
    color:white;
    padding: 15px;
    height: 380px;
    overflow:auto;
}

#orderit, #FinalTable {
    display: none;
}
#sortable_quality {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    width:25%; 
    display: inline;
}
#sortable_quality li {
    text-align: center;
    height: 30px;
    background: #a3c8eb;
    border: 1px solid white;
    color: #333333;
}
#orderit {
    height: 200px;
}



.btn-group{
    color:black;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    padding:4px;
    
}
.Qual{
    margin:10px;
    background-color:rgb(30, 90, 255);
    text-align:center;
    width:20%;
    display : inline;
}





@media only screen and  (max-width: 414px) {
    #Second_Row {
        overflow-y: auto;
        overflow-x:hidden;
        padding:10px;
        margin:4px 4px;
        height:100%;
        
    }
    .btn-group{
        color:#4f5253;
        align-items:center;
    }

    #Selection_count{
        height:60px;
    }

    #quality{
        height:60px;
        padding-top:5px;
    }

    #Quality_desc{
        height:160px;
        overflow-y: auto;
        overflow-x:hidden;
        z-index:-1;
        width:auto;
    }
    
    .Qual{
        margin:2px;
        background-color:rgb(30, 90, 255);
        text-align:center;
        width:100%;
    }
}