.selection_count{
    background-color:rgb(80, 80, 168);
    text-align: center;
    height:50px;
}
.back_button{
    background-color:rgb(80, 80, 168);
    height: 50px;
}
.cell{
    margin-top:2px;
    min-height:100px;
    background-color: cadetblue;
    text-align: center;
    font-size: large;
    padding: 1px;
}
.second_row{
    margin-top:2px;
    min-height:300px;
    background-color:cadetblue;
    text-align: center;
    font-size:large;
    padding:1px;
}

.cell1{
    background-color: cadetblue;
    margin-top:2px;
    margin-bottom:1px;
    min-height:96px;
    margin-left: 10px;
    font-size:1.5rem;
    padding:10px 20px;
}
.btn-grid{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
}
